html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$button-color: #20c997;
$left-space: 3.6%;

.bold-nav {
  color: #000000;
  margin-right: 44px;
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $button-color;
    }
  }
}
.custom-button {
  background-color: $button-color;
  color: #ffffff;
  font-weight: bold;
  min-width: 10.5625rem;
  padding: 0.84375rem 1.5625rem;
  text-align: center;
  border: none;
  border-radius: 4px;
}
.custom-link {
  text-decoration: underline;
  color: $button-color;
  font-weight: bold;
  margin: 0 4px 0 4px;
  &:hover {
    color: #000000
  }
}
.section-header {
  font-size: 18px;
  font-weight: bold;
  color: $button-color;
  text-transform: uppercase;
}
.section-title {
  font-size: 36px;
  font-weight: bold;
}
.homepage {
  overflow-x: hidden;
  .header {
    position: absolute;
    top: 0px;
    z-index: 9;
  }
  .hero-section {
    position: relative;
    z-index: 8;
    margin-left: $left-space;
    .intro {
      margin-top: 100px;
      h2 {
      font-weight: bolder;
      font-size: 60px;
      }
      span, p {
        font-size: 18px;
        padding: 16px 0 16px 0;
      }
    }
    img {
      max-width:100%;
    }
  }

  .partner-section {
    background: #e7f1ea;
    margin: -245px 0 0 0;
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
    .partner-logos {
      margin: 230px 0 20px $left-space;
      img {
        margin: 16pt 16pt 16pt 0;
      }
    }
  }

  .skill-cards-section {
    background: #e7f1ea;
    .skill-cards {
      h2, img {
        margin-left: 20px;
        padding-top: 8px;
      }
      .card {
        margin: 0 0 8px 0;
      }
    }
  }

  .features {
    background: #f2f2f2;
    .feature-detail {
      margin: 24px 0;
    }
    img {
      max-width: 100%;
    }
  }

  .case-study {
    background: linear-gradient(215deg, #f2f2f2 50%, #e7f1ea 50%);
    .content-text {
      padding: 160px ($left-space * 2) 0 $left-space;
    }
  }

  .about-section {
    margin-left: $left-space;
    img {
      width: 40px;
    }
  }

  .contact-section {
    .contact-info {
      margin-left: $left-space;
    }
    background-color: #211f25;
  }
  .footer-section {
    margin-left: $left-space;
    .contact-logos {
      img {
        width: 60px;
        padding: 12px;
        margin: 24px 0 24px 0;
      }
    }
    .submit-button {
      width: 2.5rem;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PHBhdGggZD0iTTAgOC4zMzRsNC4yODMgNC4yODMgOC4wNTctNC45NTYtNC45NTYgOC4wNTdMMTEuNjY3IDIwIDIwIDB6IiBmaWxsPSIjM2JkZmFiIi8+PC9zdmc+) no-repeat 50%;
    }
  }
}
